absl-py==2.5.0
batchgenerators==0.25.1
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.3.2
coverage==7.16.0
cycler==0.12.1
dicom2nifti==2.4.11
exceptiongroup==1.3.1
filelock==3.32.3
fonttools==4.63.0
fsspec==2026.7.0
future==1.0.0
-e git+https://github.com/Giahung2111/Glioma_3D_Segmentation.git@350cc769d8ca1090e6f2144ee2b4e3ac82056800#egg=glioma_seg&subdirectory=code
grpcio==1.83.1
idna==3.19
ImageIO==2.37.4
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.1
lazy-loader==0.5
librt==0.15.0
linecache2==1.0.0
Markdown==3.10.3
MarkupSafe==3.0.3
matplotlib==3.8.4
-e git+https://github.com/MIC-DKFZ/MedNeXt.git@0b78ed869fbd1cc2fd38754d2f8519f1b72d43ba#egg=mednextv1
MedPy==0.5.2
monai==1.4.0
mpmath==1.3.0
mypy==1.20.2
mypy_extensions==1.1.0
networkx==3.4.2
nibabel==5.2.1
numpy==1.24.4
packaging==26.3
pandas==2.2.2
pathspec==1.1.1
pillow==12.3.0
pip==24.3.1
pluggy==1.6.0
protobuf==4.25.9
psutil==6.0.0
pydicom==3.0.2
Pygments==2.21.0
pyparsing==3.3.2
pytest==8.4.2
pytest-cov==6.3.0
python-dateutil==2.9.0.post0
python-gdcm==3.2.6
pytorch-ignite==0.4.11
pytz==2026.3.post1
PyYAML==6.0.2
requests==2.32.3
ruff==0.16.5
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.11.4
setuptools==83.0.0
SimpleITK==2.3.1
six==1.17.0
sympy==1.13.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tifffile==2024.7.24
tomli==2.4.1
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.66.4
traceback2==1.4.0
types-PyYAML==6.0.12.20260815
typing_extensions==4.16.0
tzdata==2026.3
unittest2==1.1.0
urllib3==2.7.0
Werkzeug==3.1.8
wheel==0.47.0
